In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel("/content/data for discriminanat analysis.xlsx")

In [ ]:
df.head()

,eligibility score,age,year_emp,income,cred_debt,other_debt,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,5.5,47,22,81,1.51,2.95,NaN,NaN,NaN,NaN,NaN
1,3.6,40,22,95,0.63,2.79,NaN,NaN,NaN,NaN,NaN
2,3.4,35,16,36,0.18,1.05,NaN,NaN,NaN,NaN,NaN
3,0.4,43,16,89,0.16,0.20,NaN,NaN,NaN,NaN,NaN
4,12.8,47,26,100,4.58,8.22,NaN,NaN,NaN,NaN,NaN

## Criteria 1:

In [ ]:
no=df[df['eligibility score']<=10]
yes=df[df['eligibility score']>10]

In [ ]:
print(yes.shape)
print(no.shape)

(48, 11)
(52, 11)

In [ ]:
mean_yes=yes['income'].mean()
mean_no=no['income'].mean()

In [ ]:
if (77-mean_yes > 77-mean_no):
    print("In group No")
else:
    print("In grou yes")

In group No

## Creiteria 2:

In [ ]:
a={'age':55,
       'year_emp':11,
       'income':77,
   'credit_debt':2.5,
   'other_debt':3
  }

In [ ]:
inp1=pd.DataFrame(a,index=range(1))

In [ ]:
inp1

   age  year_emp  income  credit_debt  other_debt
0   55        11      77          2.5           3

In [ ]:

inp=inp1[['age','year_emp','income']]

In [ ]:
inp

   age  year_emp  income
0   55        11      77

In [ ]:
mean_yes=yes[['age','year_emp','income']].mean()
mean_no=no[['age','year_emp','income']].mean()

In [ ]:
sum_yes=0
for i in inp.columns:
    sum_yes=sum_yes+(inp[i]-mean_yes[i])**2
y=np.sqrt(sum_yes)

In [ ]:
sum_no=0
for i in inp.columns:
    sum_no=sum_no+(inp[i]-mean_no[i])**2
n=np.sqrt(sum_no)

In [ ]:
if y[0]>n[0]:
    print("Assign to no")
else:
    print("Assign to yes")

Assign to no

## Criteria 3

In [ ]:
a=np.array([yes['age'],yes['year_emp'],yes['income']])
covmatrix=np.cov(a)

In [ ]:
covmatrix

array([[ 59.53014184,  22.07624113, 108.30673759],
       [ 22.07624113,  44.93439716, 125.61879433],
       [108.30673759, 125.61879433, 643.35992908]])

In [ ]:
inv=np.linalg.inv(covmatrix)

In [ ]:
sum_no=[]
for i in inp.columns:
    sum_no.append(sum(inp[i]-mean_no[i]))
t_n=np.array(sum_no)
n_t=t_n.transpose()

In [ ]:
sum_yes=[]
for i in inp.columns:
    sum_yes.append(sum(inp[i]-mean_yes[i]))
t_y=np.matrix(sum_yes)
y_t=t_y.transpose()

In [ ]:
#yes
y_=np.sqrt(np.dot(np.dot(t_y,inv),y_t))
y_

matrix([[2.80225825]])

In [ ]:
# no
n_=np.sqrt(np.dot(np.dot(t_n,inv),n_t))
n_

2.842011294568633

In [ ]:
if(y_>n_):
    print("Assign to no")
else:
    print("Assign to yes")

Assign to yes

## Criteria :4

In [ ]:
df.head()

,eligibility score,age,year_emp,income,cred_debt,other_debt,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,5.5,47,22,81,1.51,2.95,NaN,NaN,NaN,NaN,NaN
1,3.6,40,22,95,0.63,2.79,NaN,NaN,NaN,NaN,NaN
2,3.4,35,16,36,0.18,1.05,NaN,NaN,NaN,NaN,NaN
3,0.4,43,16,89,0.16,0.20,NaN,NaN,NaN,NaN,NaN
4,12.8,47,26,100,4.58,8.22,NaN,NaN,NaN,NaN,NaN

In [ ]:
yes=yes[['eligibility score','age','year_emp','income','cred_debt','other_debt']]
yes.head()

    eligibility score  age  year_emp  income  cred_debt  other_debt
4                12.8   47        26     100       4.58        8.22
7                10.9   36        16      32       0.54        2.94
8                15.8   49        14      63       0.94        9.02
13               12.0   48        17     113       3.38       10.18
20               16.5   38        21      58       4.58        4.99

In [ ]:
no=no[['eligibility score','age','year_emp','income','cred_debt','other_debt']]
no.head()

   eligibility score  age  year_emp  income  cred_debt  other_debt
0                5.5   47        22      81       1.51        2.95
1                3.6   40        22      95       0.63        2.79
2                3.4   35        16      36       0.18        1.05
3                0.4   43        16      89       0.16        0.20
5               10.0   52        24      64       3.93        2.47

In [ ]:
#yes
X=yes.drop('eligibility score',axis=1)
y=yes['eligibility score']

In [ ]:
import statsmodels.api as sm
X.exog = sm.add_constant(X, prepend=True)
mod = sm.OLS(y,X.exog)

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
<ipython-input-81-a5238be1da57>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  X.exog = sm.add_constant(X, prepend=True)

In [ ]:
res = mod.fit()

In [ ]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      eligibility score   R-squared:                       0.848
Model:                            OLS   Adj. R-squared:                  0.829
Method:                 Least Squares   F-statistic:                     46.73
Date:                Mon, 06 Feb 2023   Prob (F-statistic):           4.32e-16
Time:                        11:57:31   Log-Likelihood:                -111.60
No. Observations:                  48   AIC:                             235.2
Df Residuals:                      42   BIC:                             246.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         15.6561      1.847      8.475      0.000      11.928      19.384
age           -0.0345      0.062     -0.560      0.578      -0.159       0.090
year_emp      -0.0302      0.086     -0.353      0.726      -0.203       0.142
income        -0.2326      0.031     -7.458      0.000      -0.296      -0.170
cred_debt      1.2656      0.207      6.129      0.000       0.849       1.682
other_debt     1.9614      0.241      8.153      0.000       1.476       2.447
==============================================================================
Omnibus:                       19.252   Durbin-Watson:                   1.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.744
Skew:                           1.339   Prob(JB):                     1.56e-06
Kurtosis:                       5.491   Cond. No.                         297.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# y1=-0.2326*income+1.2656*cred_det+1.96*other_debt+15.6561

In [ ]:
#no
X=no.drop('eligibility score',axis=1)
y=no['eligibility score']

In [ ]:
import statsmodels.api as sm
X.exog = sm.add_constant(X, prepend=False)
mod = sm.OLS(y,X.exog)

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
<ipython-input-86-9231c978ed08>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  X.exog = sm.add_constant(X, prepend=False)

In [ ]:
res = mod.fit()

In [ ]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      eligibility score   R-squared:                       0.675
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                     19.07
Date:                Mon, 06 Feb 2023   Prob (F-statistic):           3.13e-10
Time:                        11:57:31   Log-Likelihood:                -98.657
No. Observations:                  52   AIC:                             209.3
Df Residuals:                      46   BIC:                             221.0
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age           -0.0624      0.038     -1.639      0.108      -0.139       0.014
year_emp       0.0396      0.055      0.726      0.472      -0.070       0.149
income        -0.0866      0.016     -5.484      0.000      -0.118      -0.055
cred_debt      1.1121      0.208      5.356      0.000       0.694       1.530
other_debt     1.7597      0.231      7.616      0.000       1.295       2.225
const          7.5387      1.075      7.010      0.000       5.374       9.704
==============================================================================
Omnibus:                        1.083   Durbin-Watson:                   1.933
Prob(Omnibus):                  0.582   Jarque-Bera (JB):                1.105
Skew:                          -0.316   Prob(JB):                        0.575
Kurtosis:                       2.667   Cond. No.                         297.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# y2=-0.0866*income+1.1121*cred_debt+1.7597*other_debt+7.5387

In [ ]:
inp1

   age  year_emp  income  credit_debt  other_debt
0   55        11      77          2.5           3

In [ ]:
y1=-0.2326*income+1.2656*cred_det+1.96*other_debt+15.6561

NameError: ignored

In [ ]:
y_yes=-0.2326*inp1['income']+1.2656*inp1['credit_debt']+1.96*inp1['other_debt']+15.65

In [ ]:
y_yes

In [ ]:
y_no=-0.0866*inp1['income']+1.1121*inp1['credit_debt']+1.7597*inp1['other_debt']+7.5387

In [ ]:
y_no

In [ ]:
if y_yes[0]> y_no[0]:
    print("The input data point belongs to no cat.")
else:
    print("The input data point belongs to yes cat.")